name: Release

on:
    push:
        tags:
            - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
    contents: write
    id-token: write

jobs:
    release:
        runs-on: ubuntu-latest

        env:
            VERSION: ${{ github.ref_name }}

        steps:
            - uses: actions/checkout@v6

            - name: Install uv
              uses: astral-sh/setup-uv@v7

            - name: Build release distributions
              run: uv build

            - name: Create GitHub Release
              uses: softprops/action-gh-release@v2
              with:
                  tag_name: ${{ env.VERSION }}
                  files: dist/*
                  generate_release_notes: true
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Publish release distributions to PyPI
              uses: pypa/gh-action-pypi-publish@release/v1
              with:
                  packages-dir: dist/
